<div class="container">
    <main *ngIf="!isMobile; else mobileGame">
        <p id="game-saved-message" class="game-saved" [ngStyle]="{ opacity: '0' }">Your game progress has been saved!
        </p>
        <div class="game">
            <h3 id="cookie-total-amount">{{ formatLargerNumber(cookieTotalAmount) }} <br /> cookies <br /> per second :
                {{ formatLargerNumber(cookiesPerSecond) }}</h3>
            <div class="card3d">
                <img draggable='false' class="the-cookie" src="../../../public/images/cookie-logo.png"
                    (click)="manualCookieClick($event)" />
            </div>
        </div>
        <p><strong>Game progress will automatically save every 60 seconds!</strong></p>

        <div class="row">
            <div class="col">
                <label [ngStyle]="{ height: '30px', paddingTop: '1px', paddingLeft: '6px', paddingRight: '6px' }"
                    class="game-save-button">
                    <input type="file" [ngStyle]="{ display: 'none' }" (change)="importSavedGameProgress($event)" />
                    IMPORT SAVE
                </label>
            </div>
            <div class="col">
                <button class="game-save-button" (click)="saveGameProgress()">SAVE</button>
            </div>
            <div class="col">
                <button class="game-save-button" (click)="exportSavedGameProgress()">EXPORT SAVE</button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <h3 class="">STATS</h3>
                    <p>Note: Start date will be incorrect until first save!</p>
                    <p id="start-date">You started playing on: {{formattedStartDate}}</p>
                    <p id="cookies-baked-all-time">Cookies baked all time: {{formatLargerNumber(cookiesBakedAllTime)}}
                        cookies</p>
                </div>
            </div>
        </div>

        <div class="row">
            <ng-container *ngFor="let building of buildings">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <app-store-building [building]="building" (storeBuildingClick)="purchaseStoreBuilding($event)">
                    </app-store-building>
                </div>
            </ng-container>
        </div>
    </main>

    <ng-template #mobileGame>
        <main>
            <p id="game-saved-message" class="game-saved" [ngStyle]="{ opacity: '0' }">Your game progress has been saved!
            </p>
            <div class="game">
                <h3 id="cookie-total-amount">{{ formatLargerNumber(cookieTotalAmount) }} <br /> cookies <br /> per second :
                    {{ formatLargerNumber(cookiesPerSecond) }}</h3>
                <div class="card3d">
                    <img draggable='false' class="the-cookie" src="../../../public/images/cookie-logo.png"
                        (click)="manualCookieClick($event)" />
                </div>
            </div>
            <p><strong>MOBILE MOBILE MOBILE!</strong></p>
    
            <div class="row">
                <div class="col">
                    <label [ngStyle]="{ height: '30px', paddingTop: '1px', paddingLeft: '6px', paddingRight: '6px' }"
                        class="game-save-button">
                        <input type="file" [ngStyle]="{ display: 'none' }" (change)="importSavedGameProgress($event)" />
                        IMPORT SAVE
                    </label>
                </div>
                <div class="col">
                    <button class="game-save-button" (click)="saveGameProgress()">SAVE</button>
                </div>
                <div class="col">
                    <button class="game-save-button" (click)="exportSavedGameProgress()">EXPORT SAVE</button>
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h3 class="">STATS</h3>
                        <p>Note: Start date will be incorrect until first save!</p>
                        <p id="start-date">You started playing on: {{formattedStartDate}}</p>
                        <p id="cookies-baked-all-time">Cookies baked all time: {{formatLargerNumber(cookiesBakedAllTime)}}
                            cookies</p>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <ng-container *ngFor="let building of buildings">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <app-store-building [building]="building" (storeBuildingClick)="purchaseStoreBuilding($event)">
                        </app-store-building>
                    </div>
                </ng-container>
            </div>
        </main>
    </ng-template>
</div>

