* {
  font-family: gluten;
}

@media (max-width: 992px) {
  .container-mobile {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main {
    overflow: hidden;
    touch-action: manipulation;
  }
  .the-cookie-mobile:hover, .the-cookie-mobile:active {
    transform: none;
  }
}

.store-box {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow-y: auto;
  height: 800px;
}

.store-box::-webkit-scrollbar {
  width: 6px;
}

/* Track */

.store-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle */

.store-box::-webkit-scrollbar-thumb {
  background: #888;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle on hover */

.store-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.centered {
  text-align: center;
}

.card3d {
  margin: 4px;
  transform: scale(1);
  perspective: 600px;
}

.card3d:hover {
  z-index: 99;
  transform: scale(1.3);
  margin: 40px 0;
}

.card3d, .card3d img {
  transition: all 250ms ease-out;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.the-cookie {
  margin-bottom: 8px;
  cursor: pointer;
  transition: scale 1s ease;
  display: block;
  margin: auto;
  user-select: none;
  touch-action: manipulation;
}

.the-cookie:hover {
  transform: scale(1.1);
}

.the-cookie:active {
  transform: scale(1);
}

#cookie-total-amount {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
}

.game-saved {
  font-weight: 600;
  background: green;
  cursor: default;
  background: #00b31e;
  color: white;
  border: 4px solid black;
  border-radius: 6px;
  margin-top: 15px;
  text-align: center;
}

.game-saved-animation {
  animation: fadeinout 5s linear;
}

@keyframes fadeinout {
  0%, 100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
}

.game-save-button {
  white-space: nowrap;
  background: white;
  margin-bottom: 16px;
  margin-right: 16px;
  color: #00b31e;
  transition: 0.2s ease;
  cursor: pointer;
  border: 4px solid #eaeaea;
  border-radius: 6px;
  padding-top: 1px;
  padding-left: 6px;
  padding-right: 6px;
}

.game-save-button:hover {
  background: #00b31e;
  color: white;
  border: 4px solid black;
}

.building-icon {
  width: 100%;
}

.building-name {
  font-weight: 800;
  font-size: 2rem;
}

.building-buy-cost {
  font-size: 1.5rem;
  color: #00b31e;
}

.building-amount-owned {
  font-size: 3.5rem;
}

.card {
  margin: 0.5rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 4px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.2s ease, border-color 0.2s ease;
  cursor: pointer;
  user-select: none;
}

.card:hover, .card:focus, .card:active {
  background-color: #90e0ef;
  border-color: #0096c7;
}

.stats:hover, .stats:focus, .stats:active {
  background-color: #90e0ef;
  border-color: #0096c7;
  cursor: default;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.building-cookies-per-second {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.logo {
  height: 1em;
}