<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">About</h1>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <h3 class="card-title">Summary</h3>
                        <p class="card-description">
                            <img class="card-image" src="public/images/oknic.jfif" />
                            <img class="card-image" src="public/images/cmpscjg.PNG" />
                            This project was created as a side project by
                            <a href="https://github.com/CMPSCjg" target="_blank">CMPSCjg</a> and 
                            <a href="https://github.com/okni-c" target="_blank">okni-c</a>.

                            <br />
                            <br />
                            We had played Cookie Clicker previously and thought it would be an interesting challenge to re-create the popular
                            idle game. We will not by any means attempt to monetize this project in the future. This was only meant
                            as a website that we could use as a playground to practice our web development skills. But seriously, if you could send us one of the DONDA
                            long-sleeved shirts that would greatly appreciated.

                            <br />
                            <br />
                            All jokes aside, we hope you enjoy our Cookie Clicker clone. Please feel free to leave any feedback or report any and all bugs and/or issues
                            on our Github repository. Since this isn't a full-time thing for us, our response times may not be the fastest.
                        </p>

                        <br />
                        <br />
                        <hr />

                        <h3 class="card-title">Version History</h3>
                        <h4 class="card-sub-title">v0.1.0 - September 2021</h4>
                        <p class="card-description">
                            Cookie Cloner is born! Using Angular and Vercel, we bring to you our Cookie Clicker inspired website.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/><br/><br/>
</div>