<div class="container">
    <main>
        <div class="hero">
          <img src="public/images/cookie-logo.png" />
          <h1 class="cc-hero">Cookie Cloner <span class="cc">℠</span></h1>
        </div>

        <br/><br/>

        <div class="row">
          <div class="col-lg-6">
            <a [routerLink]="['/cookie-cloner/game']">
              <a class="card">
                <h3>Game 🎮</h3>
                <p>Click here to begin your cookie clicking journey!</p>
              </a>
            </a>
          </div>

          <div class="col-lg-6">
            <a [routerLink]="['/cookie-cloner/about']">
              <a class="card">
                <h3>About 📜</h3>
                <p>Learn more about this project and its creators!</p>
              </a>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <a [routerLink]="['/cookie-cloner/recipes']">
              <a class="card">
                <h3>Recipes 🍪</h3>
                <p>Discover new types of cookies and how to make them!</p>
              </a>
            </a>
          </div>

          <div class="col-lg-6">
            <a [routerLink]="['/cookie-cloner/support-us']">
              <a class="card">
                <h3>Support Us ❤️</h3>
                <p>Learn more about how you can help to support this project!</p>
              </a>
            </a>
          </div>
        </div>
        <br/><br/><br/>
      </main>
</div>