<!-- <ngbNav collapseOnSelect expand="lg" bg="light" variant="light">
    <div class="container">
        <ngbNav.Brand class="nav-logo" href="/">
            <img
                alt=""
                src="public/images/cookie-logo-big.png"
                width="135"
                height="60"
                class="d-inline-block align-top"
            />{' '}</ngbNav.Brand>
        <ngbNav.Toggle aria-controls="responsive-ngbNav-nav" />
        <ngbNav.Collapse id="responsive-ngbNav-nav">
            <Nav class="me-auto">
                <a ngbNavItem class="nav-link-cc" href="/cookie-cloner/about">About</a ngbNavItem>
                <a ngbNavItem class="nav-link-cc" href="/cookie-cloner/game">Game</a ngbNavItem>
                <a ngbNavItem class="nav-link-cc" href="/cookie-cloner/recipes">Recipes</a ngbNavItem>
                <a ngbNavItem class="nav-link-cc" href="/cookie-cloner/support-us">Support Us</Nav.Link>
            </Nav>
        </ngbNav.Collapse>
    </div>
</ngbNav> -->
<p>NAVBAR</p>