<div class="container">
    <div class="row">
        <div class="col-auto"></div>
        <div class="col-md-12">
            <h1 class="title">Recipes</h1>
            <p class="description">You can enter your search below to find new recipes!</p>

            <form class="search-bar" (submit)="searchForRecipe($event)">
                <input class="search-bar-input" placeholder="Enter your search here. . ." />
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            <br />
            <!-- <p [ngStyle]="{ overflowWrap: 'break-word'}" id="response-data">{{ responseData | json }}</p> -->

            <!-- ng for loop for recipe card -->
            <ng-container *ngFor="let hit of responseData.hits">
                <app-recipe-card [hits]="hit">
                </app-recipe-card>
            </ng-container>

        </div>
        <div class="col-auto"></div>
    </div>
</div>