<a class="card card-mobile" (click)="clickedStorebuilding(building.id)">
    <div class="row">
        <div class="col">
            <img class="building-icon" src="{{building.icon}}" />
        </div>
        <div class="col">
            <h3 class="building-name">{{building.name}}</h3>
            <h4 class="building-buy-cost" id="building-buy-cost">{{building.buyCost}}</h4>
        </div>
        <div class="col">
            <h4 class="building-amount-owned" id="building-amount-owned">{{building.amountOwned}}</h4>
        </div>
    </div>
</a>