<a (click)="clickedStorebuilding(building.id)">
    <div class="row store-row">
        <div class="col-2">
            <img class='store-img' src="{{building.icon}}" />
        </div>
        <div class="col-8">
            <p class="store-title">{{building.name}}</p>
            <p class="store-cost" id="building-buy-cost"><img src="../../../public/images/cookie-logo.png" /> {{formatLargerNumber(building.buyCost, NumberFormatType.WORD)}}</p>
        </div>
        <div class="col-2">
            <p class="store-am" id="building-amount-owned">{{building.amountOwned}}</p>
        </div>
    </div>
</a>